@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome Armin</h1>
    <p>This is my first paragraph in ASP.NET MVC (Model View Controller) using .net8 and VisualStuido Community Edition 2022</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
