
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    @{
        ViewData["Title"] = "Welcome";
    }

    <h1>Welcome!</h1>
    <p>You have successfully logged in.</p>

</body>
</html>
